:root {
    --black: #000000;
    --white: #ffffff;
    --light_red: #ff5370;
    --light_green: #c3e88d;
    --light_yellow: #ffcb6b;
    --light_blue: #82aaff;
    --light_magenta: #D49BFD;
    --light_cyan: #89ddff;
    --light_cloud: #b2ccd6;
    --light_grey: #a0a0a0;
    --dark_red: #9e4057;
    --dark_green: #7d9367;
    --dark_yellow: #ffcb6b;
    --dark_blue: #5970a6;
    --dark_magenta: #9e73bd;
    --dark_cyan: #76bedb;
    --dark_cloud: #b7d2da;
    --dark_grey: #666666;

    --background: #252837;
    --foreground: #c5d0f5;
}

.flex-row-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12.5rem;
    margin: 1rem 0;
}

.bio-email {
    text-decoration: none;
    color: var(--foreground);
}

.headshot-frame {
    height: 21.875rem;
    width: 21.875rem;
    aspect-ratio: 1/1;
    border: 2px solid var(--light_green);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--light_green);
    overflow: hidden;
    flex-shrink: 0;
}

.headshot-frame img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --- Mobile --- */
@media (max-width: 1024px) {
    .flex-row-space {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .flex-row-space {
        flex-direction: column;
        padding: 0 1rem;
        gap: 2rem;
    }

    .headshot-frame {
        height: 15rem;
        width: 15rem;
    }
}
