:root {
    --black: #000000;
    --white: #ffffff;
    --light_red: #ff5370;
    --light_green: #c3e88d;
    --light_yellow: #ffcb6b;
    --light_blue: #82aaff;
    --light_magenta: #D49BFD;
    --light_cyan: #89ddff;
    --light_cloud: #b2ccd6;
    --light_grey: #a0a0a0;
    --dark_red: #9e4057;
    --dark_green: #7d9367;
    --dark_yellow: #ffcb6b;
    --dark_blue: #5970a6;
    --dark_magenta: #9e73bd;
    --dark_cyan: #76bedb;
    --dark_cloud: #b7d2da;
    --dark_grey: #666666;

    --background: #252837;
    --foreground: #c5d0f5;


}

body {

}


